



text {  font: 10px sans-serif;}.dot {  stroke: #c0fff4;}.axis path, .axis line {  fill: none;  stroke: #c0fff4;  shape-rendering: crispEdges;}.label {  fill: #777;}.year.label {  font: 500 196px "Helvetica Neue";  fill: #c0fff4;}.year.label.active {  fill: #aaa;}.overlay {  fill: none;  pointer-events: all;  cursor: ew-resize;}
text {  font: 10px sans-serif;}.dot {  stroke: #c0fff4;}.axis path, .axis line {  fill: none;  stroke: #c0fff4;  shape-rendering: crispEdges;}.label {  fill: #777;}.year.label {  font: 500 196px "Helvetica Neue";  fill: #c0fff4;}.year.label.active {  fill: #aaa;}.overlay {  fill: none;  pointer-events: all;  cursor: ew-resize;}
