.title
{
    color: red;
    font-size: 50px;
    text-align: center;
}

.description{
    color: green;
    font-size: 15px;
    text-align: center;

}

.image {
    width: 200px;
    position: relative;
    left: 200px;
}

.chart {
    width: 100%;
    height: 500px;
     position:relative;
}

.circ1 {
    stroke: pink;
    fill: white;
    stroke-width: 5;
}